body {
  text-align: center;
}

h1, h2 {
  margin: 10px auto;
  font-family: 'Lora', serif;
}

h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 34px;
  color: #f874d6;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
}

li, p, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h3, p {
  margin: 8px;
}

h3 {
  text-transform: uppercase;
}

#cookie p, #milk p {
  font-style: italic;
}

#menu {
  background-color: #D7BAFE;
  padding: 10px;
}

/* === wrapper === */

.wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

#overview {
  width: 60%;
}

#milk {
  width: 30%;
}

#cookie {
  width: 30%;
}

/* == footer and social == */

#social {
  padding: 10px;
  background-color: #f874d6;
  text-align: center;
}

#social p {
  font-size: 16px;
  color: white;
  font-style: italic;
}

#social a:hover {
  color: #D7BAFE;
}

#social a {
  padding: 3px;
  color: white;
}

footer {
  padding: 2px;
  background-color: #eee;
  text-align: center;
}

footer p {
  font-size: 10px;
}
